<section class="page-container container-grey js-navbar__anchor"  id="creation">
    <h2>Mes realisations</h2>
    <hr/>
    <ul class="creation-container">
        {% for creation in creations %}
            <li class="creation image-container">
                <a href="{{ url('detail-creation-page', {'creationId' : creation.id}) }}"><img src="{{ creation().getImagePath(creation.image) }}" alt="{{ creation.title }}" class="creation-image"></a>
                {% if zfcUserIdentity() %}
                    <a href="{{ url('remove-creation', {'creationId' : creation.id }) }}" class="remove-creation-button"><span class="fa fa-times"></span></a>
                {% endif %}
            </li>
        {% endfor %}

        {% if zfcUserIdentity() %}
            <li class="creation creation-border-dashed"><a href="{{ url('add-creation-page') }}" ><span class="fa fa-plus"></span></a></li>
        {% endif %}
    </ul>
</section>