{% extends 'layout/layout' %}

{% block content %}

    <section class="page-container container-grey"  id="creation">

        <div class="title text-centered text-bebas">
            <h3>{{ creation.title }}</h3>
        </div>

        <div class="masonry-container">
            <p class="text-lato">
                <a href="{{ url('home') }}#creation"><span class="glyphicon glyphicon-menu-left"></span>Retour</a>
            </p>

            {% if zfcUserIdentity() %}
                <a href="{{ url('add-media-creation', {'creationId' : creation.id}) }}"><button class="btn btn-primary">Ajouter media</button></a>
            {% endif %}

            <ul class="masonry">
                {% for media in creation.medias %}
                    <li class="text-vertical-center image-container">
                        <img src="{{ url('home') }}{{ creation().getImagePath(media.image) }}" alt="{{ media.title }}" class="masonry-item">
                        {% if zfcUserIdentity() %}
                            <a href="{{ url('remove-media-creation', {'mediaId' : media.id }) }}" class="remove-creation-button"><span class="glyphicon glyphicon-remove-circle"></span></a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>


    </section>

{% endblock %}